.lead__title{

width: calc(100%-560px);
padding: 56px 280px 0;
font-weight: 900;
font-size: 96px;
line-height: 100px;
text-align: center;
/*margin: auto;*/
margin: 0;

}

@media screen and (max-width: 1024px){
    .lead__title{
       
        width: calc(100%-304px);
        padding: 54px 152px 0;
        
    }
}
@media screen and (max-width: 768px){
    .lead__title{
        width: calc(100%-48px);
        padding: 48px 24px 0;
    }
}

@media screen and (max-width: 320px){
    .lead__title{
        width: calc(100%-32px);
        font-size: 40px;
        line-height: 44px;
        padding: 48px 16px 0;
    }
}