.cover__overlay{
    width: 100%;
    height: 100%;
    padding: inherit;
    background-color: rgba(42, 44, 47, 0.3);;
    transition: ease;
    
}

.cover__overlay:hover{
    padding: inherit;
    background-color: rgba(42, 44, 47, 0.8);;
    transition: ease background-color 1s;
    
   

}