.cover__background{
    background-position: center;
    background-image: url(../../../images/cover-trains.jpg);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0;
   

}